.testimonial-card-container {
  background: linear-gradient(0deg, #122134, #122134),
    radial-gradient(
      50% 106.45% at 100% 100%,
      rgba(57, 100, 182, 0.2) 0%,
      rgba(57, 100, 182, 0) 100%
    );
  padding: 26px 30px;
  border-radius: 16px;
  width: 498px;
  height: 228px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-card-text {
  width: 438px;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.testimonial-card-role-logo-container {
  width: 438px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-role {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  display: flex;
  align-items: flex-end;
}
