.abouthero {
  height: 650px;
  width: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 24px;
}

.abouthighlights {
  height: 600px;
  width: 700px;
  padding: 40px;
}

.aboutmedia {
  height: 600px;
  width: 600px;
  padding: 100px;
  color: #244d4d;
  font-size: 50px;
}

.aboutinfo {
  height: 180px;
  text-align: left;
  list-style: none;
}

.aboutheading {
  font-size: 50px;
  color: #244d4d;
  font-family: 'Noto Serif JP';
  font-weight: bold;
  margin-bottom: 10px;
}

.aboutdesc {
  font-size: 20px;
  color: #64717c;
  font-weight: lighter;
}

.aboutbutton {
  background-color: #028d89;
  height: 50px;
  width: 160px;
  border-radius: 30px;
  border-color: #028d89;
  color: #ffffff;
  font-size: 18px;
}

.aboutrow {
  height: 190px;
  width: 650px;
  display: flex;
}

.abouthighlight {
  height: 190px;
  width: 320px;
  text-align: left;
  list-style: none;
  padding: 20px;
}

.highlightnum {
  font-size: 50px;
  color: #244d4d;
  margin-bottom: 10px;
}

.highlightheading {
  font-size: 30px;
  color: #244d4d;
  margin-bottom: 10px;
}

.highlightdesc {
  font-size: 16px;
  color: #64717c;
}

.visionmission {
  height: 400px;
  width: auto;
  display: flex;
}

.vision {
  list-style: none;
  width: 575px;
  height: 230px;
  margin-left: 60px;
  margin-top: 20px;
  border-left: 4px solid #028d89;
  background: #ffffff;
  padding: 32px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.visionicon {
  background-color: #122134;
  border-radius: 10px;
  border-color: #122134;
  height: 64px;
  width: 64px;
  margin-bottom: 15px;
}

.visionheading {
  font-size: 24px;
  color: #101828;
  margin-bottom: 15px;
}

.visiondesc {
  font-size: 16px;
  color: #4a5565;
  width: 345px;
}

@media screen and (max-width: 600px) {
  .abouthero {
    width: 100%;
    padding: 32px 18px;
  }

  .abouthighlights {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .aboutinfo {
    width: 100%;
  }

  .aboutmedia {
    width: 100%;
  }

  .aboutheading {
    font-size: 25px;
    text-align: center;
  }

  .aboutdesc {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .aboutbutton {
    background-color: #028d89;
    height: auto;
    width: 160px;
    border-radius: 30px;
    border-color: #028d89;
    color: #ffffff;
    font-size: 14px;
  }

  .aboutrow {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 32px 18px;
    gap: 24px;
  }

  .abouthighlight {
    width: 100%;
    text-align: left;
    list-style: none;
  }

  .highlightnum {
    font-size: 25px;
    color: #244d4d;
    margin-bottom: 10px;
  }

  .highlightheading {
    font-size: 20px;
    color: #244d4d;
    margin-bottom: 10px;
  }

  .highlightdesc {
    font-size: 14px;
    color: #64717c;
  }

  .visionmission {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .vision {
    width: 100%;
    padding: 28px;
    overflow: hidden;
  }

  .visionicon {
    width: 40px;
    height: 40px;
  }

  .visionheading {
    font-size: 20px;
    color: #101828;
    margin-bottom: 15px;
  }

  .visiondesc {
    font-size: 14px;
    color: #4a5565;
    width: 345px;
  }
}
