.abouthero {
  height: auto;
  width: auto;
  background-color: #ffffff;
  display: flex;
  gap: 48px;
  align-items: center;
  padding: 0 24px 0 24px;
}

.abouthighlights {
  height: auto;
  width: 700px;
  padding: 40px;
  margin-top: 80px;
}

.aboutmedia {
  height: 800px;
  width: 800px;
  color: #244d4d;
  font-size: 50px;
  margin: 50px 20px 0 0;
}

.main-img {
  width: 100%;
  height: 100%;
}

.aboutinfo {
  height: 180px;
  text-align: left;
  list-style: none;
  margin-bottom: 32px;
}

.aboutheading {
  font-size: 50px;
  color: #244d4d;
  font-family: 'Noto Serif JP';
  font-weight: bold;
  margin-bottom: 10px;
}

.aboutdesc {
  font-size: 20px;
  color: #64717c;
  font-weight: 400;
}

.aboutbutton {
  background-color: #028d89;
  height: 50px;
  width: 160px;
  border-radius: 30px;
  border-color: #028d89;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.aboutrow {
  height: 265px;
  width: 650px;
  display: flex;
  margin-bottom: 50px;
}

.abouthighlight {
  height: auto;
  width: 320px;
  text-align: left;
  list-style: none;
  padding: 10px;
}

.highlightnum {
  font-size: 50px;
  color: #244d4d;
  margin-bottom: 10px;
}

.highlightheading {
  font-size: 30px;
  color: #244d4d;
  margin-bottom: 10px;
  width: 310px;
}

.highlightdesc {
  font-size: 16px;
  color: #64717c;
  width: 300px;
}

.visionmission {
  height: 400px;
  width: 90%;
  display: flex;
  margin: 32px auto;
}

.vision {
  list-style: none;
  width: 575px;
  height: auto;
  margin-left: 60px;
  margin-top: 20px;
  border-left: 4px solid #028d89;
  background: #ffffff;
  padding: 32px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.visionicon {
  background-color: #122134;
  border-radius: 10px;
  border-color: #122134;
  color: #ffffff;
  font-size: 48px;
  padding: 6px;
  height: 64px;
  width: 64px;
  margin-bottom: 15px;
}

.visionheading {
  font-size: 24px;
  color: #101828;
  margin-bottom: 15px;
}

.visiondesc {
  font-size: 16px;
  color: #4a5565;
  width: 480px;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .abouthero {
    width: 100%;
    height: 100%;
    padding: 32px 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .abouthighlights {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .aboutinfo {
    width: 100%;
  }

  .aboutmedia {
    width: 100%;
    padding: 0;
    margin-top: -280px;
  }

  .main-img {
    width: 100%;
  }

  .aboutheading {
    font-size: 25px;
    text-align: center;
  }

  .aboutdesc {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .aboutbutton {
    background-color: #028d89;
    height: 30px;
    width: 160px;
    border-radius: 30px;
    border-color: #028d89;
    color: #ffffff;
    font-size: 14px;
    margin-left: 20%;
  }

  .aboutrow {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .abouthighlight {
    width: 100%;
    margin: 0;
  }

  .highlightnum {
    font-size: 23px;
    color: #244d4d;
    margin-bottom: 10px;
  }

  .highlightheading {
    font-size: 20px;
    color: #244d4d;
    margin-bottom: 10px;
  }

  .highlightdesc {
    font-size: 14px;
    color: #64717c;
  }

  .visionmission {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 100px;
    margin-top: -200px;
  }

  .vision {
    width: 90%;
    padding: 18px;
    margin: 16px auto;
  }

  .visionicon {
    font-size: 28px;  
    height: 40px;
    width: 40px;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .visionheading {
    font-size: 20px;
    color: #101828;
    margin-bottom: 15px;
  }

  .visiondesc {
    font-size: 14px;
    color: #4a5565;
    width: 345px;
  }
}
