.meeting-card-container {
  width: 400px;
  height: 530px;
  range: 0 deg;
  opacity: 1;
  gap: 24.28px;
  border-radius: 11.64px;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 60%;
}

.meeting-card-gradient-container {
  background: linear-gradient(180deg, rgba(246, 249, 255, 0) 0%, #f6f9ff 62.5%);
  width: 403px;
  height: auto;
  padding: 23.5px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 11.64px;
  border-bottom-right-radius: 11.64px;
}

.meeting-card-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.meeting-card-heading {
  font-size: 24px;
  font-weight: 600;
  color: #3a3a3a;
}

.meeting-card-role {
  color: #02938c;
  font-size: 16px;
  font-weight: 600;
}

.meeting-card-text {
  font-size: 11px;
  font-weight: 300;
  color: #3a3a3a;
}

@media screen and (max-width: 600px) {
  .meeting-card-container {
    width: 100%;
    height: fit-content;
  }

  .avatar {
    width: 100%;
    height: 50%;
  }

  .meeting-card-gradient-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .meeting-card-header {
    display: flex;
    flex-direction: column;
  }

  .meeting-card-heading {
    font-size: 24px;
    font-weight: 600;
    color: #3a3a3a;
  }

  .meeting-card-role {
    color: #02938c;
    font-size: 14px;
    font-weight: 600;
  }

  .meeting-card-text {
    font-size: 12px;
    font-weight: 300;
    color: #3a3a3a;
  }
}
