.background{
    height: 1980px;
    width: 1280px;
    margin: 50px auto 80px auto;
    background-color: #122134;
    padding-top: 60px;
}

.textlayer{
    height: 1827px;
    width: 931px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}

.policytext{
    font-size: 18px;
    color: #ffffff;
    margin-left: 24px;
    width: 857px;
    line-height: 26px;
}

.introduction{
    margin-top: 40px;
}

.privacybrief{
    display: inline-block;
    margin-top: 15px;
}

.privacynotes{
    list-style: none;
}

.bottomline{
    background-color: #BDBDBD;
    height: 1px;
    width: 850px;
    margin-top: 40px;
}

.finalnote{
    font-size: 16px;
    color: #BDBDBD;
    margin-top: 45px;
    text-align: center;
}