.navbar-container {
  width: 100%;
  height: 90px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f9ff;
  position: fixed;
  top: 0;
  z-index: 20;
}

.navbar-logo {
  height: 60px;
}

.nav-links-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links-container a {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #3a3a3a;
}

.contact-link {
  background: #028d89;
  padding: 10px 16px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact-link a {
  color: #fff;
}

.services-links-container {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 60px;
  right: -200px;
  width: 350px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  display: none;
  background-color: #f6f9ff;
}

.services-links-container span {
  padding: 8px 12px;
  display: block;
  width: 100%;
  cursor: pointer;
  color: #3a3a3a;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.services-links-container span:hover {
  width: 100%;
  padding: 8px 12px;
  background-color: #028d89;
  color: #fff;
}

.services-link {
  position: relative;
  color: #3a3a3a;
  cursor: pointer;
}

.show-links {
  display: flex;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hamburger-container {
  display: none;
  cursor: pointer;
  font-size: 28px;
}

.nav-mobile-links-container {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-container {
    width: 100%;
    padding: 18px;
    position: fixed;
    top: 0;
  }

  .navbar-logo {
    height: 40px;
  }

  .nav-links-container {
    display: none;
  }

  .hamburger-container {
    display: flex;
  }

  .nav-mobile-links-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style-type: none;
    top: 90px;
    width: 90%;
    right: 10px;
    background-color: #f6f9ff;
    padding: 16px;
    border-radius: 4px;
    z-index: 9;
    gap: 16px;
  }

  .nav-mobile-links-container a {
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav-mobile-links-container li {
    padding: 12px auto;
  }

  .contact-link {
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .services-links-container {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    right: 40px;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    display: none;
    background-color: #f6f9ff;
    z-index: 24;
  }

  .show-links {
    display: flex;
  }
}

@media screen and (max-width: 430px) {
  .services-links-container {
    width: 90%;
    position: absolute;
    left: 30px;
  }

  .services-links-container span {
    font-size: 13px;
  }
}
