.servicehero {
  height: 610px;
  display: flex;
  padding: 40px;
  width: auto;
  margin-left: 120px;
  margin-right: 40px;
  gap: 40px;
}

.serviceheronotes {
  height: 520px;
  width: 550px;
}

.serviceherotitle {
  font-size: 48px;
  color: black;
  font-weight: bold;
  margin-bottom: 40px;
}

.serivcehighlight {
  height: 96px;
  width: 550px;
  margin-top: 40px;
  display: flex;
}

.serviceicon {
  height: 60px;
  width: 60px;
  background-color: #028d89;
}

.servicepoint {
  width: 466px;
  height: 96px;
}

.servicetitle {
  font-size: 24px;
  color: black;
  display: inline-block;
  margin-left: 30px;
}

.servicedesc {
  font-size: 16px;
  color: #666266;
  display: inline-block;
  margin-left: 30px;
  margin-top: 2px;
}

.serviceherobutton {
  height: 31px;
  width: 128px;
  background-color: #028d89;
  border-radius: 24px;
  border-color: #028d89;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.serviceimage {
  height: 530px;
  width: 490px;
  background-color: #028d89;
}

.main-img {
  width: 100%;
  height: 100%;
}

.servicebodydesc {
  height: 300px;
  width: 1209px;
  background-color: #122134;
  margin: 40px 80px 40px 80px;
  padding: 32px;
}

.servicebodynote {
  width: 1000px;
  line-height: 28px;
  color: #ffffff;
  display: inline-block;
  margin: 6px 80px 40px 80px;
}

.serviceadvantages {
  height: 450px;
  width: auto;
  display: flex;
}

.advantageimagesection {
  width: 500px;
  height: 450px;
  padding: 24px;
  margin-left: 50px;
}

.advantagetitle {
  font-size: 48px;
  font-weight: bold;
  color: #1a131a;
  display: inline-block;
  margin-bottom: 15px;
}

.advantagedesc {
  font-size: 16px;
  color: #666266;
  display: inline-block;
  margin-bottom: 15px;
}

.advantageimage {
  height: 287px;
  width: 490px;
  background-color: #028d89;
  display: inline-block;
}

.sub-img {
  width: 100%;
  height: 100%;
}

.advantagepoint {
  width: 600px;
  height: 450px;
  padding: 36px;
  margin-left: 65px;
}

.knowmoreaboutus {
  height: 350px;
  width: 1240px;
  border-radius: 24px;
  background-color: #122134;
  border-color: #122134;
  margin-left: 80px;
  margin-top: 130px;
  display: flex;
}

.knowmoreinfo {
  width: 410px;
  height: 260px;
  margin-left: 40px;
}

.knowmoretitle {
  font-size: 28px;
  color: #fff8ff;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 80px;
  display: inline-block;
}

.knowmoredesc {
  font-size: 16px;
  width: 410px;
  color: #ffffff;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 16px;
  display: inline-block;
  font-weight: lighter;
}

.knowmorebutton {
  height: 42px;
  width: 178px;
  border-radius: 29px;
  background-color: #028d89;
  color: #ffffff;
  border-color: #028d89;
  margin-left: 20px;
  margin-top: 10px;
}

.knowmorepoints {
  height: 260px;
  width: 616px;
  margin-top: 60px;
  margin-left: 86px;
}

.knowmorerow {
  width: 616px;
  height: 124px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.knowmorepoint {
  width: 302px;
  height: 124px;
  border-radius: 16px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.knowmorepoint1 {
  width: 302px;
  height: 124px;
  border-radius: 16px;
  background-color: #6f7987;
}

.knowmorepoint2 {
  width: 302px;
  height: 124px;
  border-radius: 16px;
  background-color: #02938c;
}

.pointheading {
  font-size: 28px;
  color: #ffffff;
  display: inline-block;
  margin-left: 12px;
  margin-top: 24px;
}

.pointdesc {
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  margin-left: 12px;
  margin-top: 24px;
}

.relatedservices {
  height: 524px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.relateddesc {
  font-size: 14px;
  color: #3a3a3a;
  font-weight: lighter;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.bottomservices {
  height: 524px;
  width: 1100px;
  margin-top: 40px;
  display: flex;
}

.relatedservicetitle {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.relatedservicepoints {
  font-size: 16px;
  color: #b5b5b5;
  font-weight: lighter;
  margin-bottom: 10px;
  width: auto;
}

.knowmorebutton1 {
  height: 42px;
  width: 178px;
  border-radius: 29px;
  background-color: #122134;
  color: #ffffff;
  border-color: #122134;
  margin-left: 20px;
}

.relatedservicepoints1 {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: lighter;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .servicehero {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .serviceheronotes {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .serviceherotitle {
    font-size: 25px;
  }

  .serivcehighlight {
    width: 100%;
  }

  .serviceicon {
    height: 40px;
    width: 40px;
    background-color: #028d89;
  }

  .servicepoint {
    width: 90%;
  }

  .servicetitle {
    font-size: 20px;
    color: black;
  }

  .servicedesc {
    font-size: 14px;
    color: #666266;
    margin-top: 2px;
    width: 90%;
  }

  .serviceherobutton {
    height: 31px;
    width: 128px;
    background-color: #028d89;
    border-radius: 24px;
    border-color: #028d89;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
  }

  .serviceimage {
    height: 350px;
    width: 100%;
    background-color: #028d89;
  }

  .main-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .servicebodydesc {
    width: 90%;
    margin: 0 auto;
    padding: 12px;
    height: auto;
  }

  .servicebodynote {
    width: 100%;
    line-height: 28px;
    color: #ffffff;
    font-size: 12px;
    margin-left: 0;
  }

  .serviceadvantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .advantageimagesection {
    width: 100%;
    margin: 12px auto;
  }

  .advantagetitle {
    font-size: 25px;
    font-weight: bold;
    color: #1a131a;
    margin-bottom: 15px;
  }

  .advantagedesc {
    font-size: 12px;
    color: #666266;
    margin-bottom: 15px;
  }

  .advantageimage {
    height: 287px;
    width: 100%;
    background-color: #028d89;
  }

  .advantagepoint {
    width: 100%;
    height: auto;
  }
}
