.servicehero{
    height: 610px;
    display: flex;
    padding: 40px;
    width: auto;
    margin-left: 120px;
    margin-right: 40px;
    gap: 40px;
}

.serviceheronotes{
    height: 520px;
    width: 550px;
}

.serviceherotitle{
    font-size: 48px;
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
}

.serivcehighlight{
    height: 96px;
    width: 550px;
    margin-top: 40px;
    display: flex;
}

.serviceicon{
    height: 60px;
    width: 60px;
    background-color: #028D89;
}

.servicepoint{
    width: 466px;
    height: 96px;
}

.servicetitle{
    font-size: 24px;
    color: black;
    display: inline-block;
    margin-left: 30px;
}

.servicedesc{
    font-size: 16px;
    color: #666266;
    display: inline-block;
    margin-left: 30px;
    margin-top: 16px;
}

.serviceherobutton{
    height: 31px;
    width: 128px;
    background-color: #028D89;
    border-radius: 24px;
    border-color: #028D89;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.serviceimage{
    height: 530px;
    width: 490px;
    background-color: #028D89;
}

.servicebodydesc{
    height: 300px;
    width: 1209px;
    background-color: #122134;
    margin: 40px 80px 40px 80px;
    padding: 32px;
}

.servicebodynote{
    width: 1000px;
    line-height: 28px;
    color: #ffffff;
    display: inline-block;
    margin: 40px 80px 40px 80px;
}

.serviceadvantages{
    height: 450px;
    width: auto;
    display: flex;
}

.advantageimagesection{
    width: 500px;
    height: 450px;
    padding: 24px;
    margin-left: 50px;
}

.advantagetitle{
    font-size: 48px;
    font-weight: bold;
    color: #1A131A;
    display: inline-block;
    margin-bottom: 15px;
}

.advantagedesc{
    font-size: 16px;
    color: #666266;
    display: inline-block;
    margin-bottom: 15px;
}

.advantageimage{
    height: 287px;
    width: 490px;
    background-color: #028D89;
    display: inline-block;
}

.advantagepoint{
    width: 600px;
    height: 450px;
    padding: 36px;
    margin-left: 65px;
}

.knowmoreaboutus{
    height: 418px;
    width: 1240px;
    border-radius: 24px;
    background-color: #122134;
    border-color: #122134;
    margin-left: 80px;
    margin-top: 40px;
    display: flex;
}

.knowmoreinfo{
    width: 410px;
    height: 260px;
    margin-left: 40px;
    margin-top: 60px;
}

.knowmoretitle{
    font-size: 28px;
    color: #FFF8FF;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 80px;
    display: inline-block;
}

.knowmoredesc{
    font-size: 16px;
    width: 410px;
    color: #ffffff;
    line-height: 24px;
    margin-left: 20px;
    margin-top: 16px;
    display: inline-block;
    font-weight: lighter;
}

.knowmorebutton{
    height: 42px;
    width: 178px;
    border-radius: 29px;
    background-color: #028D89;
    color: #ffffff;
    border-color: #028D89;
    margin-left: 20px;
    margin-top: 10px;
}

.knowmorepoints{
    height: 260px;
    width: 616px;
    margin-top: 120px;
    margin-left: 86px;
}

.knowmorerow{
    width: 616px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.knowmorepoint{
    width: 302px;
    height: 124px;
    border-radius: 16px;
    background-color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
}

.knowmorepoint1{
    width: 302px;
    height: 124px;
    border-radius: 16px;
    background-color: #6F7987;
}

.knowmorepoint2{
    width: 302px;
    height: 124px;
    border-radius: 16px;
    background-color: #02938C;
}

.pointheading{
    font-size: 28px;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 12px;
    margin-top: 24px;
}

.pointdesc{
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 12px;
    margin-top: 24px;
}

.relatedservices{
    height: 524px;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.relateddesc{
    font-size: 14px;
    color: #3A3A3A;
    font-weight: lighter;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.bottomservices{
    height: 524px;
    width: 1100px;
    margin-top: 40px;
    display: flex;
}

.relatedservicetitle{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    text-align: center;
}

.relatedservicepoints{
    font-size: 16px;
    color: #B5B5B5;
    font-weight: lighter;
    margin-bottom: 10px;
    width: auto;
}

.knowmorebutton1{
    height: 42px;
    width: 178px;
    border-radius: 29px;
    background-color: #122134;
    color: #ffffff;
    border-color: #122134;
    margin-left: 20px;
}

.relatedservicepoints1{
    font-size: 16px;
    color: #3A3A3A;
    font-weight: lighter;
    margin-bottom: 10px;
}