.careerhero {
  height: 1550px;
  width: 1150px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.careerbanner {
  height: 360px;
  width: 1140px;
  position: relative;
  background-image: url('../../assets/career.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #0000006e; */
}

.careersearchbanner {
  height: 220px;
  width: 1100px;
  border-radius: 10px;
  background-color: #028d89;
  border-color: #028d89;
  background: rgba(2, 141, 137, 0.5);
  bottom: 45px;
  left: 20px;
  position: absolute;
}

.searchbar {
  height: 36px;
  width: 460px;
  border-radius: 5px;
  background-color: #e6e5e5;
  border-color: #e9cebc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 10px;
  color: #495057;
  font-size: 14px;
}

.searchfilters {
  height: 56px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  list-style: none;
  display: flex;
  gap: 55px;
}

.filtertitle {
  font-size: 14px;
  color: #000000;
}

.filteroption {
  background-color: none;
  border-radius: 4px;
  border: 1px Solid #d0d7dd;
  padding: 8px;
  display: inline-block;
  margin-top: 10px;
  width: auto;
}

.viewjobs {
  height: 33px;
  width: 102px;
  border-radius: 3px;
  background-color: #122134;
  border-color: #122134;
  color: #ffffff;
  font-size: 14px;
  margin-top: 30px;
  padding: 8px;
}

.jobs {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.jobslist {
  height: 1130px;
  width: 540px;
  background-color: #ffffff;
}

.jobsview {
  height: auto;
  width: 565px;
  background-color: #122134;
  border: 1px Solid #122134;
  border-radius: 10px;
  padding: 16px;
}

.singlejob {
  height: 190px;
  width: 540px;
  border: 1px Solid #1797c5;
  border-radius: 10px;
  margin-bottom: 10px;
}

.jobtitleinfo {
  height: 35px;
  width: auto;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.jobtitle {
  font-size: 22px;
  color: #1797c5;
}

.Applynow {
  height: 26px;
  width: 110px;
  background-color: #028d89;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  border: 1px Solid #028d89;
}

.jobtypes {
  height: 26px;
  display: flex;
  list-style: none;
  margin-left: 15px;
  margin-top: 30px;
  gap: 15px;
}

.jobcat {
  height: 26px;
  width: 100px;
  border-radius: 4px;
  background-color: #e7ebf1;
  border: 1px Solid #e7ebf1;
  color: #4f5665;
  padding: 2px;
  text-align: center;
}

.jobdesc {
  height: 65px;
  width: 475px;
  font-size: 14px;
  color: #4f5665;
  font-weight: lighter;
  margin-left: 15px;
  margin-top: 25px;
  display: inline-block;
}

.singlejob1 {
  height: 190px;
  width: 540px;
  border: 1px Solid #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.jobviewtitle {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 26px;
  margin-top: 20px;
  display: inline-block;
}

.jobviewtypes {
  height: 26px;
  display: flex;
  list-style: none;
  margin-left: 26px;
  margin-top: 30px;
  gap: 15px;
}

.jobdesctitle {
  font-size: 16px;
  color: #acacac;
  display: inline-block;
  margin-left: 26px;
  margin-top: 20px;
}

.jobdescpara {
  font-size: 14px;
  color: #acacac;
  display: inline-block;
  margin-left: 26px;
  margin-top: 4px;
  width: 465px;
  line-height: 20px;
}

.jobcatsection {
  height: 45px;
  margin: 24px 0 24px 26px;
}

.jobcattitle {
  font-size: 14px;
  color: #ffffff;
}

.jobcatoption {
  font-size: 14px;
  color: #acacac;
  display: inline-block;
  margin-top: 10px;
}

.jobApplynow {
  height: 26px;
  width: 110px;
  background-color: #028d89;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  border: 1px Solid #028d89;
  margin-left: 26px;
}

.career-page-faqs-container {
  width: 60%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 80px auto 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career-page-faqs {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .careerhero {
    width: 100%;
    height: 100%;
    padding: 32px 12px;
  }

  .careerbanner {
    height: 450px;
    width: 100%;
    position: relative;
    background-image: url('../../assets/career.png');
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-color: #0000006e; */
  }

  .careersearchbanner {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: #028d89;
    border-color: #028d89;
    background: rgba(2, 141, 137, 0.5);
    bottom: 15px;
    left: 0;
    margin-top: 100px;
    position: absolute;
    padding: 16px;
  }

  .searchbar {
    height: 36px;
    width: 100%;
    border-radius: 5px;
    background-color: #e6e5e5;
    border-color: #e9cebc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px;
    color: #495057;
    font-size: 14px;
  }

  .searchfilters {
    height: 56px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .filtertitle {
    font-size: 12px;
    color: #000000;
  }

  .filteroption {
    background-color: none;
    border-radius: 4px;
    border: 1px Solid #d0d7dd;
    padding: 8px;
    display: inline-block;
    margin-top: 10px;
    width: 180px;
    font-size: 12px;
  }

  .viewjobs {
    height: 33px;
    width: 102px;
    border-radius: 3px;
    background-color: #122134;
    border-color: #122134;
    color: #ffffff;
    font-size: 14px;
    margin-top: 30px;
    padding: 8px;
  }

  .jobs {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 18px;
  }

  .jobslist {
    height: auto;
    width: 100%;
    background-color: #ffffff;
  }

  .jobsview {
    height: 100%;
    width: 100%;
    background-color: #122134;
    border: 1px Solid #122134;
    border-radius: 10px;
    padding: 18px;
  }

  .singlejob {
    height: auto;
    width: 100%;
    border: 1px Solid #1797c5;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 5px;
  }

  .jobtitleinfo {
    height: 35px;
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: space-between;
  }

  .jobtitle {
    font-size: 18px;
    color: #1797c5;
  }

  .Applynow {
    height: 26px;
    width: 110px;
    background-color: #028d89;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    border: 1px Solid #028d89;
  }

  .jobtypes {
    height: 26px;
    display: flex;
    list-style: none;
    gap: 15px;
  }

  .jobcat {
    height: 26px;
    width: 84px;
    font-size: 12px;
    border-radius: 4px;
    background-color: #e7ebf1;
    border: 1px Solid #e7ebf1;
    color: #4f5665;
    padding: 4px;
    text-align: center;
  }

  .jobdesc {
    height: 65px;
    width: 100%;
    font-size: 10px;
    color: #4f5665;
    font-weight: lighter;
  }

  .singlejob1 {
    height: auto;
    width: 100%;
    border: 1px Solid #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 5px;
  }

  .jobviewtitle {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }

  .jobviewtypes {
    height: 26px;
    display: flex;
  }

  .jobdesctitle {
    font-size: 16px;
    color: #acacac;
    margin-top: 20px;
  }

  .jobdescpara {
    font-size: 14px;
    color: #acacac;
    width: 100%;
  }

  .jobcatsection {
    height: 45px;
  }

  .jobcattitle {
    font-size: 14px;
    color: #ffffff;
  }

  .jobcatoption {
    font-size: 14px;
    color: #acacac;
    display: inline-block;
    margin-top: 10px;
  }

  .jobApplynow {
    height: 26px;
    width: 110px;
    background-color: #028d89;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    border: 1px Solid #028d89;
    margin-left: 26px;
  }

  .career-page-faqs-container {
    width: 90%;
    margin: 32px auto;
  }

  .career-page-faqs {
    width: 100%;
  }
}
