.footer-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-section-one-container {
  width: 100%;
  height: 450px;
  background: #02938c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-one-content-container {
  width: 761px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.footer-one-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: #f9f9f9;
}

.footer-one-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f9f9f9;
  text-align: center;
}

.footer-one-email-btn-container {
  width: 100%;
  height: 58px;
  padding: 8px;
  background: #ffffff1a;
  border: 1px solid #00000033;
  backdrop-filter: blur(8px);
  border-radius: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-input {
  width: 65%;
  border: none;
  outline: none;
  padding: 8px 14px;
  color: #000000;
  background-color: transparent;
}

.footer-one-btn {
  background: #122134;
  padding: 16px;
  border-radius: 29px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.footer-section-two-container {
  width: 100%;
  height: 331px;
  background: #000000;
  padding: 64px 100px 16px 100px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer-two-content-social-media-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-two-content-container {
  width: 630px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company-logo {
  width: 291px;
  height: 81px;
}

.footer-two-content-text {
  width: 416px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.footer-two-links-container {
  width: 630px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-two-links-container span {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.footer-two-social-media-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-two-social-media-heading {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.footer-two-social-media-links-container {
  width: 128px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-two-icon {
  width: 26.67px;
  height: 26.67px;
  color: #028d89;
  cursor: pointer;
}

.footer-section-two-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy-right {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.footer-section-two-links-container {
  display: flex;
  align-items: center;
}

.line-container {
  width: 2px;
  height: 10px;
  background-color: #fff;
}

.privacy-footer-link {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
