.home-page-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-page-header-container {
  width: 873px;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.home-page-heading {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: #3a3a3a;
}

.home-page-heading span {
  color: #fff;
}

.home-page-email-btn-container {
  width: 100%;
  height: 58px;
  padding: 8px;
  background: #0000001a;
  border: 1px solid #0a0a0a0d;
  backdrop-filter: blur(8px);
  border-radius: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page-email-input {
  width: 65%;
  border: none;
  outline: none;
  padding: 8px 14px;
  background-color: transparent;
}

.home-page-btn {
  background: #122134;
  padding: 16px;
  border-radius: 29px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.home-page-grid-container {
  width: 1065px;
  margin: 32px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}

.home-page-item-container {
  background: #122134;
  border: 1px solid #2b4463;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.item-icon {
  width: 32px;
  height: 32px;
}

.item-title {
  font-size: 28px;
  font-weight: 300;
  color: #fff;
}

.item-text {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.home-page-company-container {
  width: 1240px;
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-page-company-text {
  font-size: 14px;
  font-weight: 300;
  color: #3a3a3a;
}

.home-page-company-title {
  font-size: 24px;
  font-weight: 600;
  color: #3a3a3a;
}

.home-page-company-logos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-page-company-logos-one-grid-container {
  margin: 32px auto 16px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 24px;
}

.home-page-company-logos-two-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.grid-image {
  opacity: 0.5;
  color: grey;
}

.home-page-how-it-works-section {
  width: 1238px;
  margin: 64px auto;
  background: #122134;
  padding: 53px 66px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.home-page-working-heading {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.home-page-steps-grid-container {
  width: 1104px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.home-page-step-container {
  background: #ffffff1a;
  border: 1px solid #f2f2f21a;
  backdrop-filter: blur(24px);
  padding: 32px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.step {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.step-title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.step-btn {
  background: #028d89;
  padding: 16px 51px;
  border-radius: 29px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
