.accordion-main-container {
  background: #ffffff;
  width: 100%;
  border-bottom: 1px solid #3a3a3a;
  padding: 26px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accordion-container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-question {
  font-size: 18px;
  font-weight: 600;
  color: #3a3a3a;
}

.accordion-answer {
  font-size: 16px;
  font-weight: 400;
  color: #3a3a3a;
}

@media screen and (max-width: 600px) {
  .accordion-main-container {
    width: 100%;
    border-bottom: 1px solid #3a3a3a;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .accordion-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .accordion-question {
    font-size: 13px;
    font-weight: 600;
    color: #3a3a3a;
  }

  .accordion-answer {
    font-size: 12px;
    font-weight: 400;
    color: #3a3a3a;
  }
}
