.foundersheading {
  width: 85%;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 120px;
}

.foundershead {
  text-align: center;
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 700;
  color: #03247f;
}

.foundersdesc {
  text-align: center;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  color: #717171;
}

.contactus {
  height: 670px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
}

.contactinfo {
  height: 650px;
  width: 490px;
  background-color: #122134;
  border-radius: 5px;
  border-color: #122134;
}

.contactform {
  height: 650px;
  width: 690px;
  background-color: #ffffff1a;
}

.contactheading {
  padding: 40px;
}

.contacttitle {
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.contacctdesc {
  font-size: 18px;
  font-weight: lighter;
  color: #c9c9c9;
  display: inline-block;
  margin-bottom: 140px;
}

.contacticon {
  height: 24px;
  width: 24px;
  color: #ffffff;
}

.contactdetails {
  font-size: 16px;
  color: #ffffff;
  list-style: none;
}

.contactplace {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.socialmedia {
  list-style: none;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 150px;
}

.socialmediaicon1 {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #24c838;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.socialmediaicon2 {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactrow {
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  margin-bottom: 30px;
}

.input-box {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-box label {
  font-size: 12px;
  color: #8d8d8d;
}

.input-box input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  padding: 5px 0;
  font-size: 14px;
  width: 280px;
  outline: none;
  font-weight: lighter;
  background-color: #f6f9ff;
  color: #8d8d8d;
}

.input-box input:focus {
  border-bottom: 2px solid #028d89;
}

.subjectdiv {
  height: 60px;
}

.subjectselector {
  color: #011c2a;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 40px;
}

.subjects {
  list-style: none;
  display: flex;
  width: 700px;
  margin-left: 40px;
}

.subjectname {
  color: #011c2a;
  font-size: 11px;
  font-weight: lighter;
  margin-right: 11px;
}

.message-box {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  margin-top: 45px;
}

.message-box label {
  font-size: 12px;
  color: #8d8d8d;
}

.message-box input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  padding: 5px 0;
  font-size: 14px;
  width: 600px;
  outline: none;
  font-weight: lighter;
  background-color: #f6f9ff;
  color: #8d8d8d;
}

.submitbutton {
  height: 55px;
  width: 215px;
  background-color: #028d89;
  border-radius: 10px;
  border-color: #028d89;
  color: #ffffff;
  font-size: 16px;
  margin-left: auto;
  display: block;
  margin-right: 50px;
}

.faq {
  height: 720px;
  width: 920px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 80px auto 40px auto;
}

.faq1 {
  height: 180px;
  width: 870px;
  padding: 40px;
  margin-left: 40px;
}

.question {
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.minimize {
  height: 2px;
  background-color: #122134;
  width: 20px;
  margin-top: 10px;
}

.answer {
  color: #3a3a3a;
  font-size: 16px;
  width: 780px;
  margin-top: 40px;
}

.faqborder {
  height: 1px;
  background-color: #011c2a;
  width: auto;
}

.career-page-faqs-container {
  width: 60%;
  margin: 80px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .foundersheading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 18px;
  }

  .foundershead {
    text-align: center;
    font-size: 24px;
  }

  .foundersdesc {
    text-align: center;
    font-size: 14px;
  }

  .contactus {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 16px auto;
  }

  .contactinfo {
    height: auto;
    width: 100%;
    background-color: #122134;
    border-radius: 5px;
    border-color: #122134;
  }

  .contactheading {
    padding: 40px;
  }

  .contacttitle {
    font-family: 'Poppins';
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contacctdesc {
    font-size: 14px;
    font-weight: lighter;
  }

  .contacticon {
    height: 20px;
    width: 20px;
    color: #fff;
  }

  .contactdetails {
    font-size: 12px;
    color: #ffffff;
    list-style: none;
  }

  .contactplace {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
  }

  .socialmedia {
    list-style: none;
    height: 30px;
    align-items: left;
    display: flex;
    margin-top: 150px;
  }

  .socialmediaicon1 {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #24c838;
    margin-right: 20px;
  }

  .socialmediaicon2 {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-right: 20px;
  }

  .contactform {
    width: 100%;
    height: auto;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
  }

  .contactrow {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .input-box {
    width: 100%;
  }

  .input-box label {
    font-size: 12px;
    color: #8d8d8d;
  }

  .input-box input {
    width: 100%;
  }

  .input-box input:focus {
    border-bottom: 2px solid #028d89;
  }

  .subjectdiv {
    width: 100%;
    height: auto;
  }

  .subjectselector {
    color: #011c2a;
    font-size: 14px;
  }

  .subjects {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    margin-top: 14px;
  }

  .subjectname {
    color: #011c2a;
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .message-box {
    width: 100%;
  }

  .message-box label {
    font-size: 12px;
    color: #8d8d8d;
  }

  .message-box input {
    width: 100%;
  }

  .submitbutton {
    height: 30px;
    width: 215px;
    background-color: #028d89;
    border-radius: 10px;
    border-color: #028d89;
    color: #ffffff;
    font-size: 14px;
  }

  .career-page-faqs-container {
    width: 90%;
    margin: 32px auto;
  }
}
